<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.heyitsnov.loonmadanihon"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Loon Madanihon</name>

  <description>
     Loon Madanihon Mock Up
  </description>

  <author href="https://facebook.com/kelnovi" email="novhz0514@gmail.com">
    Kel Novi
  </author>

</widget>